<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Veronica Santos Pulpon y Javier Aramburu Mulas.
</p>

<img src="/images/vero.jpg" />
<img src="/images/javi.jpg" />

<p>
    URL repositorio en <a href="https://github.com/vsantosp/quiz_2017">GitHub</a>
</p>
