<h1>Ayuda</h1>

<p>
    El proyecto quiz es un aplicacion web desarrollada para la asignatura de CORE.
    Consiste en un juego en la que un usuario logueado contesta diferentes preguntas guardas y creadas previamente por un admin.
</p>
